.about-us {
    margin: 0 auto;
}
.about-us__wrapper {
    
    width: 81%;
    margin: 0 auto;

    padding-top: 35px;
}

.about-us__br {

    @media (max-width: $tablet-width) {
        display: none;
        
    }
}

.about-us__title {
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
}

.about-us__features-list {   
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
}

.about-us__features-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95px;
    margin-top: 33px;
}

.about-us__icon {
    margin-bottom: auto;

    fill: #63d1bb;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {

    .about-us__wrapper {
        min-width: $tablet-container;
        width: 86%;
    }

    .about-us__title {
        font-size: get-vw(43px);
        line-height: get-vw(50px);
    }

    .about-us__features-list {
        width: 82%; //635   ÷   768
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .about-us__features-item {
        width: 42%; //299px   ÷   768 =38 но сделал побольше
        margin-top: 60px;
    }
    .about-us__features-item br {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .about-us {
        max-width: $desktop-container;
    }
    
    .about-us__wrapper {

        
        min-width: $desktop-container;
        width: 61%; //700/1150
    }

    .about-us__title {
        margin-left: 175px;
        font-size: 53px;
        line-height: 57px;
        font-weight: bold;
    }

    .about-us__features-list {
        margin-left: 175px;
       
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .about-us__features-item {
        width: 44%; 
        
        margin-top: 60px;
    }

    .about-us__features-item br {
        display: none;
    }
}