.index-catalog {
    position: relative;

    background-color: #fbfbfb;



    @media (min-width: $tablet-width) and (max-width: $desktop-width) {}
}

.index-catalog__background-image {
    margin: 0 auto;

    background-color: #fbfbfb;

    min-height: 282px;

}

.index-catalog__container {
    margin: 0 auto;
    



    background-size: 575px 373px;



    background-image: url(../img/hero-mobile@1x.jpg);
    

    background-position: center 15%;
    background-repeat: no-repeat;


    position: relative;

    @media (min-resolution: 2dppx) {
        
        background-image: url(../img/hero-mobile@2x.jpg);
    }


    @media (min-width: $tablet-width) and (max-width: $desktop-width) {

        margin-top: 74px;
        background-image: url(../img/hero-tablet@1x.jpg);
        background-position: top center;
        min-width: $tablet-width;
       /*  width: 100%; */
        background-size: cover;

        background-repeat: no-repeat;
        position: relative;

        @media (min-resolution: 2dppx) {

            background-image: url(../img/hero-tablet@2x.jpg);
        }



    }

    @media (min-width: $desktop-width) {
        max-width: $desktop-container;
        margin-top: 84px;





        background-size: cover;


    

        background-image: url(../img/hero-desktop@1x.jpg);
        background-size: 1150px 746px;
        background-position: center bottom;

        @media (min-resolution: 2dppx) {

            background-image: url(../img/hero-desktop@2x.jpg);
        }

    }

}


.index-catalog__background-title {
    width: $mobile-container;
    margin: 0 auto;
    padding-top: 25%;

    text-align: center;

    font-size: get-vw(27px);
    line-height: get-vw(30px);

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        width: auto;
        padding-top: 25%;
        padding-bottom: 25%;
       
        line-height: get-vw(50px);
        font-size: get-vw(43px);
    }

    @media (min-width: $desktop-width) {
        width: auto;
        margin: 0 auto;
        padding-top: 15%;
        padding-bottom: 25%;
        font-size: 53px;

        line-height: 57px;
    }
}

.index-catalog__list {

    
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 81%;



    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        flex-direction: row;
        flex-wrap: nowrap;
        width: auto;
        width: 86%;
        margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
        flex-direction: row;
        flex-wrap: nowrap;
        width: auto;
    }
}

.index-catalog__list-item {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;


}



.index-catalog__link-container {
    margin: 0;
    padding: 0;
    margin: 22px auto;

    display: flex;
    max-width: 260px;


    vertical-align: baseline;
}

.index-catalog__list-link {
    color: #ffffff;
}

.index-catalog__link-title {
    margin: 0;
    padding: 0;

    font-size: 19px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
}


.index-catalog__list-item:first-child {

    background-color: #63d1bb;
}

.index-catalog__list-link.catalog--interiors .index-catalog__link-container {
    width: $mobile-container;
    background-color: #63d1bb;
}

.index-catalog__list-item:last-child {

    background-color: #56c3b2;
}

.index-catalog__list-link.catalog--toys .index-catalog__link-container {
    width: $mobile-container;
    background-color: #56c3b2;
}

.index-catalog__image {
    margin-left: auto;
}


///////////////////

.index-catalog__zigzak {
    display: none;
    position: absolute;
   
  

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        display: block;
        
        height: 24px;
        margin-bottom: -10px;
        width: 100%;

        
        bottom: 0;
        left: -40px;


        background-image: url(../img/bg-zigzag-fill.svg);
        background-repeat: repeat-x;
    }

    @media (min-width: $desktop-width) {
        display: block;
       
        margin-bottom: -17px;
    height: 34px;
    width: 100%;
    
    background-position-x: 12px;
        
        bottom: 0;


        background-image: url(../img/bg-zigzag-fill.svg);
        background-repeat: repeat-x;
    }
}


@media (min-width: $tablet-width) and (max-width: $desktop-width) {



    .index-catalog__list {
        display: flex;
        flex-direction: row;

    }

    .index-catalog__link-title {
        font-size: get-vw(20px);
        line-height: get-vw(30px);
    }

    .index-catalog__list-item {

        width: 100%;
        
    }

    .index-catalog__list-link.catalog--interiors .index-catalog__link-container,
    .index-catalog__list-link.catalog--toys .index-catalog__link-container {
        margin: 0;
        padding: get-vw(30px) get-vw(35px);
       

        width: auto;

    }




}

@media (min-width: $desktop-width) {


    .index-catalog__link-container {}

    .index-catalog__list {
        display: flex;
        flex-direction: row;


    }



    .index-catalog__list-item {

        width: 100%;
    }

    .index-catalog__list-link.catalog--interiors .index-catalog__link-container,
    .index-catalog__list-link.catalog--toys .index-catalog__link-container {
        margin: 0;
        padding: 9% 10.4%;
        

        width: auto;
    }




}