.catalog {

    position: relative;
    width: $mobile-width;
    margin: 0 auto;
}


.catalog__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.catalog__list-item {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.catalog__link-container {
    margin: 0;
    padding: 0;
    margin: 22px auto;
    
    display: flex;
  
    vertical-align: baseline;
}

.catalog__list-link {
    color: #ffffff;
}

.catalog__link-title {
    margin: 0;
    padding: 0;

    font-size: 19px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
}


.catalog__list-item:first-child {

    background-color: #63d1bb;
}

.catalog__list-link.catalog--interiors .catalog__link-container{
    width: $mobile-container;
    background-color: #63d1bb;
}

.catalog__list-item:last-child {

    background-color: #56c3b2;
}

.catalog__list-link.catalog--toys .catalog__link-container{
    width: $mobile-container;
    background-color: #56c3b2;
}

.catalog__image {
    margin-left: auto;
}

.catalog__zigzak {
    display: none;
    position: absolute;
    height: 24px;
    z-index: 10;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        display: block;
        position: absolute;
        height: 24px;
        /*  width: $tablet-width;*/
        width: 3000px;
        bottom: 0;
        left: -40px;
 

        background-image: url("../img/zigzag-fill-desktop.png");
        background-repeat: repeat-x; 
    }

    @media (min-width: $desktop-width) {
        display: block;
        position: absolute;
        /* height: 34px; */
        width: 3000px;
        bottom: 0;
        /* left: -40px; */

        background-image: url("../img/zigzag-fill-desktop.png");
        background-repeat: repeat-x;
    }
}


@media (min-width: $tablet-width) and (max-width: $desktop-width)  {
    .catalog {
        margin: 0 auto;
        width: auto;
    }
   

    .catalog__list {
        display: flex;
        flex-direction: row;
        
    }

    .catalog__link-title {
        font-size: get-vw(20px);
        line-height: get-vw(30px);
    }

    .catalog__list-item {
        min-width: ($tablet-width / 2);
        width: 100%;
        /* width: 334px; */
    }

    .catalog__list-link.catalog--interiors .catalog__link-container,
    .catalog__list-link.catalog--toys .catalog__link-container {
        margin: 0;
        padding: 9% 10.4%;    /* 30px 35px */
        
        width: auto;

    }


   
    
}

@media (min-width: $desktop-width) {

    .catalog {
        margin: 0 auto;
        width: auto;
    }

    .catalog__link-container {
       
    }

    .catalog__list {
        display: flex;
        flex-direction: row;
        
        
    }

    

    .catalog__list-item {
        /* width: 525px; */
        min-width: ($desktop-width / 2);
        width: 100%;
    }

    .catalog__list-link.catalog--interiors .catalog__link-container,
    .catalog__list-link.catalog--toys .catalog__link-container {
        margin: 0;
        padding: 9% 10.4%;    /* 30px 35px */
        
        width: auto;
    }


   
}