.copyright__link {
    
}

.copyright-link__wrapper {
    width: 185px;
    margin: 0 auto;
    display: flex;
    align-items: center
}

.copyright-link__text {
    margin: 0;
    padding: 0;
    margin-right: 30px;

    
    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
    color: #000000;
}