.item-of-the-week {
    
    min-width: $mobile-width;
    margin: 0 auto;
   
    margin-top: 33px;
    
}

.item-of-the-week__wrapper {
    width: $mobile-container;
    
    
    margin: 0 auto;
    margin-bottom: 35px;
}

.item-of-the-week__title {
    margin: 0;
    padding: 0;

    font-size: 25px;
    line-height: 30px;
}

.item-of-the-week__subtitle {
    margin: 0;
    padding: 0;
    margin-top: 10px;

    font-size: 17px;
    line-height: 20px;
    color: #63d1bb;
    text-transform: uppercase;
    font-weight: bold;
}

.item-of-the-week__subtitle br {
    display: none;
}

.item-of-the-week__description {
    margin: 0;
    padding: 0;
    margin-top: 10%; // 33px /320

    font-size: 15px;
    line-height: 24px;
    color: $dark-grey;
}



.item-of-the-week__table {
    margin-top: 10%; // 33px / 320

    font-size: 15px;
    line-height: 20px;
    color: $dark-grey;

    border-collapse: collapse;
    width: 100%;
    margin-bottom: 8%; // 28 / 320
}

.item-of-the-week__table-row {
    padding-top: 10px;  
    padding-bottom: 10px;  
    border-bottom: 1px solid $grey-border;
    
    display: flex;
}


.item-of-the-week__field {
    width: 100px;
}

.item-of-the-week__photo {
    /* background-image: url('../img/mobile/item-of-the-week__photo.jpg');
    background-repeat: no-repeat; */
    width: 260px;
    /* height: 315px; */
}

.item-of-the-week__price {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color: $dark-grey;
}




@media (min-width: $tablet-width) and (max-width: $desktop-width) {
    .item-of-the-week {
        
       min-width: $tablet-width;
       
       width: 100%;
       /* transform: translateX( -($tablet-width - $tablet-container) / 2); */
         
    }

    .item-of-the-week__wrapper {
       /*  min-width: $tablet-container; */
       
        width: 86%; // 668   ÷   768

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 53px;
    }

    .item-of-the-week__title {

        font-size: get-vw(43px);
        line-height: get-vw(50px);
        font-weight: bold;
        text-transform: uppercase; 
     }
     .item-of-the-week__subtitle {
         
         display: flex;
         flex-direction: column;
         line-height: get-vw(17px);
         margin-right: 3%;
     }

     .item-of-the-week__subtitle br {
         
         font-size: 0px;
         line-height: 0px;
        display: block;
    }

    .item-of-the-week__subtitle span {
        text-align: center;
        height: 0;
       
    }

    .item-of-the-week__description-container {
        width: 37.8%; // делим  ширину блока 291px на ширину окна 768px 
        display: flex;
        flex-direction: column;

    }

    .item-of-the-week__photo {
        /* background-image: url('../img/item-of-the-week__photo--tablet.jpg');
        background-repeat: no-repeat;
        background-size: 100% auto; */
        margin-top: auto;
        width: 43%; // 333px / 768
        /* height: 404px; */ // 404px / 768
    }

    .item-of-the-week__price {
        margin-top: auto;
    }
}



@media (min-width: $desktop-width) {

    .item-of-the-week {
        min-width: $desktop-container;
        max-width: $max-width;
        transform: translateX(0px);
       /*  border: 1px solid red; */

       
        
         
     }
 
     .item-of-the-week__wrapper {
        width: 76%; // 875 / 1150
 
         min-height: 636px;
         margin: 0;
         margin-top: 73px;
         margin-bottom: 73px;
         margin-left: auto;
         
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;

         
     }
 
     .item-of-the-week__title {
         
        position: absolute;
        margin-right: 10%;
        margin-top: 70px;
        
         font-size: 53px;
         line-height: 57px;
         font-weight: bold;
         text-transform: uppercase; 
      }

      .item-of-the-week__subtitle {
        margin: 0;
        display: flex;
        flex-direction: column;
        line-height: 17px;
        position: absolute;
        left: 8%; //48 / 1150 = 4%
        top: 80px;

    }

    .item-of-the-week__subtitle br {
        
        font-size: 0px;
        line-height: 0px;
       display: block;
   }

   .item-of-the-week__subtitle span {
       text-align: center;
       height: 0;
      
   }
 
     .item-of-the-week__description-container {
        position: absolute;
        top: 164px; // !!!!!!!!!!


        width: 291px;
     }

     .item-of-the-week__description {
         margin-top: 0;
         margin-bottom: 70px;
     }

     .item-of-the-week__table {
         margin-bottom: 87px;
     }
 
     .item-of-the-week__photo {
         /* background-image: url('../img/item-of-the-week__photo--desktop.jpg');
         background-repeat: no-repeat; */
         width: 525px;
         height: 636px;
         margin-left: auto;
     }

     .item-of-the-week__button {
         margin-top: auto;
     }
}