.item-of-the-week {
    border: 1px solid red;
    width: $mobile-width;
    transform: translateX( -($mobile-width - $mobile-container) / 2);
}

.item-of-the-week__wrapper {
    width: $mobile-container;
    margin: 0 auto;
}

.item-of-the-week__table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 28px;
}

.item-of-the-week__table-row {
    border-bottom: 1px solid $grey-border;
    
    display: flex;
}

.item-of-the-week__field {
    width: 100px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
    .item-of-the-week {
       width: $tablet-width;
       transform: translateX( -($tablet-width - $tablet-container) / 2);
        
    }

    .item-of-the-week__wrapper {
        width: $tablet-container;
        
    }

}

