.main-nav__wrapper {
    display: none;
    margin: 0;
    padding: 0;
}

.main-nav__list {
    margin: 0;
    padding: 0;
 
   
}

.main-nav__list__closure-button {
    display: none;
}



//если кликнуть по мобильной версии, а затем не закрывая меню отдалиться, то меню поедет. а елси сразу открыть на планшете и выше, то все норм
.main-nav__wrapper--active {
    display: flex;
    flex-direction: column;
    position: absolute; 
    z-index: 2;
    background-color: #ffffff; 
    


    /* width: $mobile-width; */

    width: 100%; //!!!!!!!!!!!!!!!
    transform: translate(0px, 81px ); ///!!!!!!!!!!! было (-30px,  81px)
    box-shadow: 0px 10px 19px 0px #6B6B6B;
}


.main-nav__list--active {
    z-index: 2;
}

.main-nav__list__closure-button {
    display: none;
}

.main-nav__list__closure-button--active {
    display: block;
    position: absolute;
right: 0;
top: 50%;
margin-top: -7px;
}



.main-nav__free-delivery {
    margin: 0;
    padding: 0;
    display: none;

    position: absolute;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        display: block;
        
        right: 0;
        /* top: 115px; */
        z-index: 1;
        color: $dark-grey;
        font-size: 15px;
        line-height: 24px;



        top: 89px;
        width: 50%;
        
        padding-top: 25px;
        padding-bottom: 25px;
        
        background-color: #fbfbfb;
        text-align: right;
    }

    @media (min-width: $desktop-width) {
        display: block;
        
        right: 0;
        
        z-index: 1;
        color: $dark-grey;
        font-size: 15px;
        line-height: 24px;


        top: 89px;
        width: 50%;
        
        padding-top: 30px;
        padding-bottom: 30px;

        
        background-color: #fbfbfb;
        text-align: right;
    }
}

 .main-nav__free-delivery::after {
    content: "";
    position: absolute;
    top: 0;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {

    
    left: 100%;
    width: 16%;

    height: 100%;
    background-color: #fbfbfb;
  


    }

    @media (min-width: $desktop-width) {
    
    left: 524px;
    width: calc(50vw - 541px); 
    
    height: 100%;
    background-color: #fbfbfb;

    
    }
} 



@media (min-width: $tablet-width) and (max-width: $desktop-width)  {
    .main-nav__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    
    
}

@media (min-width: $desktop-width) {

    .main-nav {
        
        width: 100%; 
    } 
    .main-nav__wrapper {
        min-width: $desktop-container;
       
       

        display: flex;
        align-items: center;
        justify-content: space-between;
      
        
    }

    .main-nav__list {
        margin: 0;
        padding: 0;
    }
    
}