.modal-window {
    display: none;
    background-color: #ffffff;
    z-index: 2;
    
}

.modal-window--show {
    display: block;
    position: fixed;
    top: 5%;
    left: 50%;
    margin-left: -130px;
    z-index: 12;
    width: 260px; //260  ÷  320 = 81%
   border-top: 1px solid #c7c7c7; 
   border-bottom: 1px solid #c7c7c7;     
   box-shadow: 0px 17px 19px -9px rgba(205,205,205,1);
   
    
//отключаю скролл
    height: auto;
  overflow: hidden;

  
  
}
.modal-window__form-container {
    
    
    margin: 0 auto;
}



.modal-window__form-title {
    margin: 0;
    padding: 0;
    margin-top: 37px;
    margin-bottom: 29px;
    text-align: center;
}

.modal-window__form-paragraph {
    margin: 0;
    padding: 0;
    margin-bottom: 31px;
    text-align: center;
}

.modal-window__radio-container {
    margin: 0 auto;
    
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
}

.modal-window__radio-button {
    display: none;
}

.modal-window__radio-title {
    margin: 0;
    padding: 0;
    border: 2px solid $grey-border;
    width: 78px;

    text-align: center;
    padding: 18px 0;

    text-transform: uppercase;
}

.modal-window__radio-button:checked+.modal-window__radio-title{
    border: 2px solid $turquoise;
}

.modal-window__button {
    width: 100%;
    margin-bottom: 46px;
    background-color: $turquoise;
    border: none;
    color: #ffffff;
}


@media (min-width: $tablet-width) and (max-width: $desktop-width) {
    
    .modal-window--show {
        width: 74%; //567  ÷  768
        top: 25%;
        left: 50%;
        margin-left: -37%;
              
    }

    .modal-window__form-container {
        width: 46%; //350  ÷  768
    }
   
    .modal-window__form-title br {
        display: none;
    }

    .modal-window__radio-title {
        width: 108px;
    }
    
}

@media (min-width: $desktop-width) {
    .modal-window--show {
        width: 74%; //567  ÷  768
        max-width: 1000px;
        top: 25%;
        left: 50%;
        margin-left: -37%;
              
    }

    .modal-window__form-container {
        width: 46%; //350  ÷  768
    }
   
    .modal-window__form-title br {
        display: none;
    }

    .modal-window__radio-title {
        width: 108px;
    }
}