.page-footer {
   
  
  min-width: $mobile-width;
    transform: translateX( -($mobile-width - $mobile-container) / 2);
    background-color: #f1f1f1;
}

/* @media (max-width: $tablet-width) {
    .page-footer {
    transform: translateX(100px);
}
} */

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
    
    .page-footer{
    min-width: $tablet-width;
   
    transform: translateX( -($tablet-width - $tablet-container) / 2);
    
}
}

@media (min-width: $desktop-width) {
    .page-footer{
        min-width: $desktop-width;
       
        transform: translateX( -($desktop-width - $desktop-container) / 2);
    }
}