.page-header {
    background-color: #ffffff;
    min-width: $mobile-width;
    margin: 0 auto;


   
}

.page-header__wrapper {
    /* width: $mobile-container; */
    /* width: 81%; */ //!!!!!!!!!!!!!!!
    margin: 0 auto;
    height: 80px;
    position: relative;
    border-bottom: 1px solid $grey-border;


    @media (min-width: $tablet-width) and (max-width: $desktop-width)   {
      
        width: 86%;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
       
            width:91%;
            max-width: $desktop-container;
            height: 88px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
}


.page-header__logo {
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -43px;
    top: 50%;
    margin-top: -17px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
       
            position: static;
            left: 0;
            margin: 0;
            top: 0;
            margin-right: 200px;
       
    }

    @media (min-width: $desktop-width) {
            
             position: absolute;
          
         
            top: 50%;
    margin-top: -37px;
            
        
    }

}

.page-header__menu-toggle {
    margin: 0;
    padding: 0; 
    padding: 10px;
    position: absolute;
    right: 10%;
    top: 35%;
    margin-top: -7px;

    background-color: #ffffff;
    border: none;

    width: 40px;
    height: 40px
    
}

.page-header__menu-img {

    position: absolute;
    top: 10px;
    width: 20px;
    height: 2px;
    background-color: black;
    box-shadow: 0 8px 0 0 black, 0 16px 0 0 black;
}





@media (min-width: $tablet-width) and (max-width: $desktop-width)   {
    .page-header {
        min-width: $tablet-width;        
    }
   

    .page-header__menu-toggle {
        display: none;
    }
       
   
} 



@media (min-width: $desktop-width) {
    .page-header {
        /* min-width: $desktop-width;  */  
        /* max-width: $max-width; */
    
    }
    

    

    .page-header__menu-toggle {
        display: none;
    }

    

    
   
}










