.page-footer {
   width: 100%;
    margin: 0 auto;
  min-width: $mobile-width;
    
    background-color: #f1f1f1;

    @media (min-width: $tablet-width) and (max-width: $desktop-width)   {
        min-width: $tablet-width;
 
    }

    @media (min-width: $desktop-width) {
        
            /* min-width: $desktop-width; */
            /* max-width: $max-width; */
           
           
        }
}


.page-footer__wrapper{
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    

            width: 86%;
            
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        @media (min-width: $desktop-width) {
    
            max-width: $desktop-container;
                width: 86%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                padding-top: 50px;
                padding-bottom: 50px;
            }
}

.footer__logo-img {
    display: none;
}

.page-footer__copyright {
    padding: 30px 0;
    @media (min-width: $tablet-width) and (max-width: $desktop-width) { 
    padding: 0;
    }
}


@media (min-width: $tablet-width) and (max-width: $desktop-width) {
    
   


.footer__logo-img {
    display: block;
}
}

@media (min-width: $desktop-width) {
    


    .footer__logo-img {
        display: block;
    }
}