/* .page-main {
    margin: 0;
    padding: 0;
    width: $mobile-width;
    transform: translateX( -($mobile-width - $mobile-container) / 2);
    background-color: #f9f9f9; 
    border: 3px solid red; 
    
}

 */