.user-list {
    list-style: none;
}

.user-list__link {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 35px  75px;
    border-bottom: 1px solid $grey-border;

    font-size: 17px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
}


.user-list__link--img  {
    position: absolute;
    left: 33px;
}













@media (min-width: $tablet-width) and (max-width: $desktop-width)  {

    .user-list__link {
        width: auto;
        margin: 0;
        padding: 0;
        border-style: none;

        font-size: get-vw(15px);
        /* order: -1; */
    }

    .user-list {
        display: flex;
    }

    .user-list__link--search-text {
        display: none;
    }

    .user-list__link--search-img {
        position: static;
        padding: 33px;
        border-left: 1px solid $grey-border;
        & svg {fill: rgba(0,0,0,.2);
        }

        &:hover {
            fill: red;
        }
    }



    .user-list__link--shopping_cart {
        display: block;
        padding: 33px 0px 33px 84px;
        border-left: 1px solid $grey-border;
    }


}






@media (min-width: $desktop-width) {
    .user-list__link {
        font-size: 15px;
        width: auto;
        margin: 0;
        padding: 0;
        border-style: none;
        order: -1;
    }

    .user-list {
        display: flex;
    }

    .user-list__link--search-text {
        display: none;
    }

    .user-list__link--search-img {
        position: static;
        padding: 33px;
        border-left: 1px solid $grey-border;
    }

    .user-list__link--shopping_cart {
        display: block;
        padding: 33px 0px 33px 84px;
        border-left: 1px solid $grey-border;
    }

}
