body {
    margin: 0 auto;

    min-width:  $mobile-width;
    /* max-width: $max-width  */ 
    
    font-family: 'Open Sans', sans-serif;
    
      
}



.body__no-scroll {
    height: 100%;
    overflow: hidden;
}


.body_container--filter {
    filter: opacity(10%);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.body_container {
    width: 100%;

}
