body {
    margin: 0 auto;
    border: 1px solid yellow;
    min-width:  $mobile-width;
    max-width: $max-width /* + 1600px */;
    
    font-family: 'Open Sans', sans-serif;
    
      
}



.body__no-scroll {
    height: 100%;
    overflow: hidden;
}


.body_container--filter {
    filter: opacity(10%);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.body_container {
    width: 100%;

    @media (min-width: $desktop-width) {
        /* width: 91%; */
    }
}


/* @media (min-width: $tablet-width) and (max-width: $desktop-width)  {

   /*  .body_container {
        width: $tablet-container;
        border: 1px solid yellow;
    }
    *//*
   
} 

@media (min-width: $desktop-width) {

    .body_container {
        max-width: $max-width;
        border: 1px solid yellow;
    }
   
   
}  */