.slider {
    position: relative;
}

.slider__toggles {
    margin: 0 auto;
    padding: 0;
    /* width: $mobile-container; */
    width: 86%; ////////
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) and (max-width: $desktop-width)  {
            width: $mobile-container; ////
           
            position: absolute;
            bottom: 0;
            right: 0;
        }

        @media (min-width: $desktop-width) {
            width: $mobile-container; 
                position: absolute;
                bottom: 0;
                right: 0;
            }
        

}

.slider__toggle--before,
.slider__toggle--next {
    margin: 0;
    width: 50%;
    padding: 12px 41px;
    background-color: transparent;
    border: 1px solid $grey-border;

    @media (min-width: $tablet-width) and (max-width: $desktop-width)  {
        width: auto; 
    }

        @media (min-width: $desktop-width) {
            width: auto;
            border: none;
        }
}

.slider__toggle--before {
    border-right: none;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width)  {
    

    .slider__toggle--before,
    .slider__toggle--next {
    border: none;
    }

}



