$mobile-width: 320px;
$mobile-container: 260px;
$tablet-width: 768px;
$tablet-container: 668px;
$desktop-width: 1150px;
$desktop-container: 1050px;
$max-width: 1650px;


//colors
$grey-background: #f1f1f1;
$grey-border: #ececec;
$dark-grey: #444444;
$turquoise: #63d1bb;