.wave-img {
    height: 7px;
    background-image: url(../img/bg-zigzag-line.svg);
    background-size: 320px 7px;
    background-repeat: repeat-x;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        height: 17px;
        background-size: 768px 17px;
    }

    @media (min-width: $desktop-width) {
        height: 23px;
        background-size: 1050px 21px; 
    }
}