.page-header {
    max-width: $max-width;
}
 
.catalog-header__background {
    background-color: $grey-background;
    border-top: 1px solid $grey-border;
}

.catalog-header__background-container {
    height: 177px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        height: 225px;
    }

    @media (min-width: $desktop-width) {
        height: 255px;
    }
    
}


.catalog-header__background-title {
    text-align: center;
    padding-top: 20%;
  
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        padding-top: 112px;
    }

    @media (min-width: $desktop-width) {
        padding-top: 112px;
    }
}

