.catalog__container {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: $mobile-width;
    max-width: 1050px;




    

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        min-width: $tablet-width;
        width: 86%; //668 / 768px
        margin-top: 80px;
        margin-bottom: 55px;
    }


    @media (min-width: $desktop-width) {
        /* min-width: $desktop-width; */
        
        margin-top: 110px;
        margin-bottom: 105px;
        }
}


.catalog-items__zigzak {
    display: none;
    
   
  

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        display: block;
        
        height: 24px;
        margin-bottom: -10px;
        width: 100%;

        
       


        background-image: url(../img/bg-zigzag-fill.svg);
        background-repeat: repeat-x;
    }

    @media (min-width: $desktop-width) {
        display: block;
       
        margin-bottom: -17px;
    height: 34px;
    width: 100%;
    
          
       


        background-image: url(../img/bg-zigzag-fill.svg);
        background-repeat: repeat-x;
    }
}


.catalog__ul {
    
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (min-width: $desktop-width) {
        /* width: 86% ; */ //1050   ÷   1250 
        
        flex-direction: row;
        justify-content: space-between;
    }
}  

.catalog__item {
    width: 260px; //260px / 320 // было 81%
    
    margin: 0;
    padding: 0;
    /* margin: 0 auto; */
    margin-bottom: 30px;

  

    list-style: none;

    border: 1px solid #ededed;

    /*  */


    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        min-width: $tablet-width;
        width: 100%; //668 / 768px
        /* margin: 0 auto; */
        margin-bottom: 55px;

        display: flex;
    }

    @media (min-width: $desktop-width) {
        /* margin: 0 auto; */
    padding: 0;
        width: 316px; //316   ÷   1050 (измеряем от контейнера) = 27% !!!!!!!было 30%
    }
}

.catalog__item:last-child {
    margin-bottom: 0;
}


.catalog__item-photo {
    background-color: red;
    height: 195px;
    width: 260px;

   
    padding: 0;
    margin: 0 auto;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) and (max-width: $desktop-width)  {
        margin: 0;
        width: 334px; //было 50%
        height: 334px;
    }

    @media (min-width: $desktop-width) {
        width: 316px;
        height: 462px;
    }
}

.catalog__description {
    margin: 0;
    padding: 0;
    margin: 0 auto;

    width: 79%; //209/260 = 79% измеряется от ширины родителя
    
    min-height: 200px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        /* min-width: $tablet-width; */
       /*  width: 269px; */
       margin: 0;
       box-sizing: border-box;
       width: 50%;
        padding: 0 29px;
        min-height: 0;
    }
    
}
.catalog__description-container  {
    
}

.catalog__item-title {
    margin: 0;
    padding: 0;
    margin-top: 35px;

    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
}

.catalog__item-description {
    margin: 0;
    padding: 0;
    margin-top: 24px;
    
    color: $dark-grey;
    font-size: 13px;
    line-height: 30px;
   
}

.catalog__price-container {
    

    
    margin: 0;
    padding: 0;
    margin: 0 auto;
    margin-top: auto;
    padding-top: 30px;
    margin-bottom: 30px;
    

    width: 100%;
    border-top: 1px solid $grey-border;

    display: flex;
    justify-content: space-between;
   
}

.catalog__item-price {
    margin: 0;
    padding: 0;

    
}

.catalog__add-to-cart-button {
    background-color: #ffffff;
    background-image: url(/source/img/catalog/add-to-cart-button.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
    border: none;
}

