.production-video {
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid $grey-border;
    /* width: 81%; */
    display: flex;
    flex-direction: column;
    position: relative;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        width: 100%;
        margin-top: 52px;
    }

    @media (min-width: $desktop-width) {
        /* max-width: $max-width; */
        /* width: 86%; */
        flex-direction: column;
        margin-top: 60px;
        padding-left: 682px;
    }
}

.production-video__decription-container {
    margin: 0;
    /* width: 74%; */ //192/260
    margin-left: 35px;
    margin-right: 35px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width){
        order: 1;
        /* width: 87%; */ //584   ÷   668 
    }

    @media (min-width: $desktop-width) {
        /* width: 24%; */ //232   ÷   1050
        margin-left: 80px;
        margin-right: 55px;   
    }
}

.production-video__title-container{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 30px;
   margin-bottom: 30px;
    /* width: 74%; */ //192/260
    display: flex;
 
   align-items: center;
   
   

   @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    /* width: 87%; */
    order: 1;
    margin-bottom: 40px;
}

@media (min-width: $desktop-width) {
    /* width: 24%;  */
    order: 0;
    flex-direction: column;
    align-items: flex-start;

    
    
    margin-top: 57px;
    margin-left: 80px;
        margin-right: 55px;
    margin-bottom: 40px;
}
   
}

.production-video__camera-img {
    margin-right: 25px;

    @media (min-width: $desktop-width) {
        margin-right: 0;
        margin-bottom: 25px;
    }
}

.production-video__title {
    
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        
        font-size: get-vw(20px);
    line-height: get-vw(24px);
    }

    @media (min-width: $desktop-width)  {
        font-size: 20px;
        line-height: 24px;
    }
}


.production-video__decription {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    color: $dark-grey;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        font-size: get-vw(15px);
    line-height: get-vw(30px);
    }

    @media (min-width: $desktop-width)  {
        font-size: 15px;
        line-height: 30px;
    }
  }
  
  .production-video__button {
      /* margin: 0 auto; */
      margin-top: 55px;
      margin-bottom: 30px;
      width: 100%; //192/260 

      @media (min-width: $desktop-width)  {
        margin-top: 25px;
        margin-bottom: 59px;
    }
  }
  

.production-video__video_container {
    /* margin-top: 96px; */ //100 / 260 //было 40.5%

    /* background-color: red; */
    
    
   /*  position: absolute;
    
    
    left: 50%;
    margin-left: -35%; */
    margin: 0 auto;
    

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        position: relative;
        margin-top: 0;
        left: 0;
        margin-left: 0;
    width: 100%;
    }

    @media (min-width: $desktop-width) {
        margin-top: 0;
        width: 65%; //682   ÷   1050
        left: 0;
    margin-left: 0;

  
        position: absolute;
        left: 0;
        top: 0;
        
    }
}

.production-video__video-preview {

    width: 260px; // 260 / 320
    
    margin: 0 auto;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        display: block;
        margin: 0 auto;
        
    
        width: 100%;
        
    }


    @media (min-width: $desktop-width) {
        width: 100%;
        left: 0;
    margin-left: 0;
    }
}

.production-video__play-button {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -90px;


    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        top: 50%;
    margin-top: -5%; // 38.5/ 668  половина высоты картинки на ширину контейнера, так как высота от ширины измеряется
    left: 50%;
    margin-left: -7.5%; //50.5  / 668
    }

    @media (min-width: $desktop-width) {
        top: 50%;
    margin-top: -5%; // 38.5/ 668  половина высоты картинки на ширину контейнера, так как высота от ширины измеряется
    left: 50%;
    margin-left: -7.5%; //50.5  / 668
    }
}


