.order-page__form {
  width: 81%;
  min-width: $mobile-container;
  margin: 0 auto;
}

.order-form__type-container {
  display: flex;
  flex-direction: column;

 /*  font-size: 17px;
  line-height: 18px; */

}

  //РАДИОКНОПКИ

  //убираю радио стандартные
.order-form__type-container input[type="radio"]:checked, 
.order-form__type-container input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

//отступы для новой радиокнопки (label)
.order-form__type-label{
  display: inline-block;
    position: relative;
    padding-left: 43px;
    margin-bottom: 30px;
        
}


.order-form__type-container input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 50%;
}
   
/* ДЕЛАЮ ГАЛКУ АФТЕРОМ */


.order-form__type-container input[type="radio"]:checked + label::after {

  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
 
  left: 0;
  top: -1px;
   
} 


.order-form {
 
        padding-top: 22px;
        padding-bottom: 55px;
      
        @media (min-width: $tablet-width) and (max-width: $desktop-width) {
          padding-top: 72px;
          padding-bottom: 45px;
        }
      
        @media (min-width: $desktop-width) {
          padding-top: 122px;
        }
      
}

.order-form__type-section {
    position: relative;
    padding-top: 21px;
    padding-bottom: 21px;
    border: 0;
  
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    
    }
  
}

.order-form__color-section {
    margin-bottom: 0;
    padding-bottom: 13px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
   
    }
}

.order-form__legend {
    display: block;
  padding: 0;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  color: green;
  text-transform: uppercase;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
 
  }

  @media (min-width: $desktop-width) {

  }
}

