.order-form {
 
        padding-top: 22px;
        padding-bottom: 55px;
      
        @media (min-width: $tablet-width) and (max-width: $desktop-width) {
          padding-top: 72px;
          padding-bottom: 45px;
        }
      
        @media (min-width: $desktop-width) {
          padding-top: 122px;
        }
      
}

.order-form__type-section {
    position: relative;
    padding-top: 21px;
    padding-bottom: 21px;
    border: 0;
  
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    
    }
  
}

.order-form__color-section {
    margin-bottom: 0;
    padding-bottom: 13px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
   
    }
}

.order-form__legend {
    display: block;
  padding: 0;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  color: green;
  text-transform: uppercase;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
 
  }

  @media (min-width: $desktop-width) {

  }
}

